.register-container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.register-left {
    flex: 1;
    background: url('/public/assets/abc.png') no-repeat center center/cover;
}

.register-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.register-box {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.logo img {
    margin-top: 0;
    
}

.register-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-field {
    margin-bottom: 15px;
    text-align: left;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.input-field input:focus {
    border-color: #00aaff;
}

.btn-create-account {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00aaff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-create-account:hover {
    background-color: #0077cc;
}
